<ion-view title="Orders" id="page5" class=" " hide-back-button="true" ng-controller="ordersCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-click="selectTable()">
            <i class="icon ion-plus-round"></i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="card" ng-show="noorders">
            <div class="item item-text-wrap" style="text-align: center;color: #666;">
                No orders to show.
            </div>
        </div>
        <div class="list card"  ng-hide="noorders">
            <div class="item item-button-right reviewitem" ng-repeat="order in orders | filter: {status : '!printed'}"">
                <div style="display: inline-flex; float: left;">
                    <h2 style="position: absolute;top: 14px;font-size: 15px;">Order {{$index+1}}</h2>
                    <p style="position: absolute;top: 35px;font-size: 12px;">{{order.table.name}}&nbsp;<span style="font-weight:bold;color:#666;">{{order.status}}</span></p>
                </div>
                <div class="button-bar" style="float: right;right: 0px;width:35%;">
                    <a class="button button-small button-outline button-calm icon ion-edit" ng-show="order.status == 'ordered'" ng-click="editOrder(order)" style="padding:0;margin-right: 5px;border-width: 1px;"></a>
                    <a class="button button-small button-outline button-balanced icon ion-printer" ng-click="updateStatus(order, 'printed')" style="padding: 0;margin-right: 5px;border-width: 1px;""></a>
                    <a class="button button-small button-outline button-assertive icon ion-trash-a" ng-show="order.status == 'ordered'" ng-click="deleteOrder(order)" style="padding:0"></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
