<ion-view title="Select Table" id="page6" class=" " hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-stable" ui-sref="menu.orders">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="selectTable-form3" class="list ">
            <label class="item item-select " id="selectTable-select2">
                <span class="input-label">Table</span>
                <select ng-model="selectedTable" ng-change="selectTable(selectedTable)">
                <option ng-selected="true" value="select">Select</option>
                    <option ng-selected="{{table.name == selectedTable.name}}" value="{{table.id}}" ng-repeat="table in tables">{{table.name}}</option>
                </select>
            </label>
            <label class="item item-input " id="selectTable-input5">
                <span class="input-label">Covers</span>
                <input ng-model="covers" ng-change="countChange(covers)" type="number" class="text-right" placeholder="0">
            </label>
            <label class="item item-select " id="selectTable-select6">
                <span class="input-label">Waiter</span>
				<select ng-model="selectedWaiter" ng-change="selectWaiters(selectedWaiter)">
                <option ng-selected="true" value="select">Select</option>
                <option ng-selected="{{waiter.email == selectedWaiter.email}}" value="{{waiter.id}}" ng-repeat="waiter in waiters">{{waiter.email}}</option>
                </select>
                <!--<input type="text" class="text-right" disabled="true" style="background-color: transparent;" placeholder="name" ng-model="user.email">-->
            </label>
        </form>
        <button id="selectTable-button12" ng-click="selectMenu()" class=" button button-balanced  button-block ">Continue</button>
        <button id="selectTable-button13" ng-click="placeEmptyorder()" class=" button button-dark  button-block ">Seat Guest</button><!-- menu.orders -->
    </ion-content>
</ion-view>
